body {
    font-family: "Helvetica Neue", Helvetica, Arial, default;
}

a {
    color: #2C58A3;
    text-decoration: none;
}

h2 {
    font-size: 1.5em;
    font-weight: normal;
}

a:hover {
    color: #4A72E8;
}

img.cent {
    display: block;
    margin: 0 auto;
}

.title {
    font-size: 2.3em;
    font-weight: normal;
    margin-bottom: 0.4em;
}

.post_time {
    font-size: 80%;
}

.post_body {
    line-height: 140%;
}

a.comment_count {
    font-size: 1.5em;
}

.mathtex {
    margin-top: 5px;
}

#site_title h1 {
    font-size: 3em;
    margin-bottom: 0.2em;
}

#site_title a {
    color: #000000;
}

#site_title a:hover {
    color: #6B6B6B;
}

#container {
    margin: 0 auto;
    width: 800px;
}

#share_container {
    margin-top: 2px;
}

#twitter_share {
    float: left;
}

#facebook_like {
    float: left;
}

#creative_commons {
    text-align: center;
    font-size: 80%;
}
